<hello name="{{ name }}"></hello>
<p>
  Start rating your favourite movies :)
</p>


<div>
  <button class="button" (click)="onRandom()" *ngIf="!isRandomClicked else notRandom"><span>Start Rating Randomly </span></button>
  <ng-template #notRandom>
    <button class="button" (click)="onRandom()"><span>Stop Rate Randomly</span></button>
  </ng-template>
</div>
<div>
  <ol>

    <li *ngFor="let movie of myMovies | sort: 'ratings';let i = index">
      <span>{{movie.name}}</span>
      <span>
        <star-rating value={{movie.ratings}} checkedcolor="red" uncheckedcolor="black" size="24px"  readonly="false" (rate)="onRate($event,i)"></star-rating>
      </span>
    </li>

  </ol>
</div>